@import "~susy";
@import "../../../styles/mixins";

@import '../../../styles/susy-config';

.homeview {
  width: span(4);

  &:before, &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.playlist {
  float: left;
  width: span(1);
  height: calc(100vh - 9rem);

  border-right: 1px solid rgba(170, 170, 170, 0.5);

  overflow-y: scroll;
}

.playlist__item {
  $color: #225378;
  $bg-color: #ACF0F2;

  @include interactive;

  padding: 1em gutter(1)/2;

  color: $color;
  background-color: $bg-color;

  &.active {
    background-color: lighten($bg-color, 5%);
  }
  &:hover {
    background-color: lighten($bg-color, 10%);
  }

  &:last-child {
    border-bottom: none;
  }

  .title {
    padding: 0;
    margin: 0.5em 0;
  }
}

.central-stage {
  float: left;
  width: span(2);
  padding: 1em gutter() / 2;
}

.lyricbox {
  float: left;
  width: span(1);
  padding: 1em gutter(1 of 4)/2;

  white-space: pre-wrap;

  height: calc(100vh - 9rem);
  overflow-y: scroll;

  background-color: rgba(255, 255, 255, 0.5);

  p:first-child {
    margin-top: 0;
  }
}

.albums {
  $color: #1695A3;

  @include clearfix;

  position: fixed;
  bottom: 0;
  left: 0;
  width: span(4);

  float: left;
  background-color: $color;
}

.albums__item {
  $bg-color: #1695A3;

  @include interactive;

  float: left;
  width: span(1);
  padding: 1.5em gutter() / 2;

  background-color: $bg-color;
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: lighten($bg-color, 10%);
  }

  &:nth-child(4n + 1) {
    clear: left;
  }

  &.active {
    background-color: lighten($bg-color, 20%);
  }
}


.switch-button {
  $color: #225378;
  $bg-color: #1695A3;
  
  & > input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 4.5em;
    
    line-height: 2em;
    
    color: $color;
    
    cursor: pointer;    
  }
  
  input[type="checkbox"] + label:after {
    display: block;
    content: "";
    
    position: absolute;
    left: 0.05em;
    top: 0.05em;
    width: 1.9em;
    height: 1.9em;
    
    background-color: white;
    
    transition: left 150ms ease-in;
  }
  
  input[type="checkbox"]:checked + label:after {
    left: 2.05em;
  }
  
  input[type="checkbox"] + label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4em;
    height: 2em;
    
    background-color: darken($bg-color, 5%);
    
    transition: background-color 300ms ease-out;
  }
  
  input[type="checkbox"] + label:hover:before {
    background-color: lighten($bg-color, 10%);
  }
}
