@import "~susy";
@import "../../../styles/mixins";

@import '../../../styles/susy-config';

.homeview {
  width: span(4);
  
  &:before, &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.searchbox {
  $bg-color: #1695A3;
  
  width: span(4);
  padding: 1em gutter()/2;
  
  background-color: $bg-color;
}

.playlist {
  float: left;
  width: span(1);
  
  border-right: 1px solid rgba(170, 170, 170, 0.5);
}

.playlist__item {
  $color: #225378;
  $bg-color: #ACF0F2;
  
  @include interactive;
  
  padding: 1em gutter(1)/2;
  
  color: $color;
  background-color: $bg-color;
  
  &.active {
    background-color: lighten($bg-color, 5%);
  }
  &:hover {
    background-color: lighten($bg-color, 10%);
  }
  
  &:last-child {
    border-bottom: none;
  }
  
  .title {
    padding: 0;
    margin: 0.5em 0;
  }
}

.central-stage {
  float: left;
  width: span(2);
  padding: 1em gutter() / 2;
}

.lyricbox {
  float: left;
  width: span(1);
  padding: 1em gutter(1 of 4)/2;
  
  p:first-child {
    margin-top: 0;
  }
}

.albums {
  $color: #1695A3;
  
  @include clearfix;
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: span(4);
  
  float: left;
  background: $color;
}

.albums__item {
  $bg-color: #1695A3;
  
  @include interactive;
  
  float: left;
  width: span(1);
  padding: 1.5em gutter() / 2;
  // @include gallery(1 of 4);
  
  background: $bg-color;
  color: white;

  &:hover {
    background: lighten($bg-color, 10%);
  }
  
  &:nth-child(4n + 1) {
    clear: left;
  }
}