@import "../../../styles/mixins";

$color: #EB7F00;

.play-button {
  @include interactive;
  
  background-color: $color;
  color: white;
  
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
  text-align: center;
  line-height: 120px;
  
  &:hover {
    background-color: lighten($color, 20%);
  }
}