@import "~susy";
@import "../../../styles/mixins";

@import '../../../styles/susy-config';


.searchbox {
  $bg-color: #1695A3;

  width: span(4);
  padding: 1em gutter()/2;

  background-color: $bg-color;

  .form-control {
    border: none;
    border-radius: 0;
  }
}

.searchbox__dropdown {
  position: relative;

  & > .list-group {
    position: absolute;
    width: 100%;
  }

  & > .list-group .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}
